$primary: #2091f9;
$text: #252b42;
$second-text: #374754;
$white: #ffffff;
$dark-bg: #252b42;
$form-primary: #f4f4f4;
$form-secondary: #e8e8e8;
$quote: #374754;
$rectangle-partners: #d8d8d8;

$fontFamily-secondary: "Roboto", sans-serif;

$ft-xxs: 1.5rem;
$ft-xs: 1.6rem;
$ft-sm: 1.8rem;
$ft-md: 2rem;
$ft-lg: 2.8rem;
$ft-xl: 3rem;
$ft-xxl: 4.8rem;
$ft-xxxl: 7.4rem;

$ft-w-sm: 300;
$ft-w-medium: 500;
$ft-w-semiBold: 600;
$ft-w-bold: 700;
$ft-w-extraBold: 800;

$title-small-size: 3rem;
$title-medium-size: 3.5rem;
$title-big-size: 3.8rem;

$max-sm: 575px;
$max-md: 991px;
$max-lg: 1199px;
$max-xl: false;

$breakpoints: (
  sm: $max-sm,
  md: $max-md,
  lg: $max-lg,
  xl: $max-xl,
);

@font-face {
  font-family: "font-default";
  src: local("font-default"),
    url("../public/fonts/GraphikRegular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "font-bold";
  src: local("font-bold"),
    url("../public/fonts/GraphikBold.woff2") format("woff2");
  font-display: swap;
}
