$primary: 2091F9;
$secondary: 2DC071;
$tertiary: F15B07;
$text: 252B42;
$second-text: 374754;
$white: #ffffff;
$dark-bg: 252B42;
$gradient-bg: 222B32;

$fontFamily-primary: "";
$fontFamily-secondary: "Roboto", sans-serif;

$ft-xxs: 1.5rem;
$ft-xs: 1.6rem;
$ft-sm: 1.8rem;
$ft-md: 2rem;
$ft-lg: 2.8rem;
$ft-xl: 3rem;
$ft-xxl: 4.8rem;
$ft-xxxl: 7.4rem;

$ft-w-sm: 300;
$ft-w-medium: 500;
$ft-w-semiBold: 600;
$ft-w-bold: 700;
$ft-w-extraBold: 800;

$title-small-size: 3rem;
$title-medium-size: 3.5rem;
$title-big-size: 3.8rem;

$max-sm: 576px;
$max-md: 992px;
$max-lg: 1200px;
$max-xl: false;

$breakpoints: (
  sm: $max-sm,
  md: $max-md,
  lg: $max-lg,
  xl: $max-xl,
);

@font-face {
  font-family: "font-default";
  src: url("/fonts/GraphikRegular.otf") format("opentype");
  font-size: $ft-sm;
}

@font-face {
  font-family: "link";
  src: url("/fonts/GraphikRegular.otf") format("opentype");
  font-size: $ft-xxs;
  line-height: 2.8rem;
}

@font-face {
  font-family: "paragraphe";
  src: url("/fonts/GraphikRegular.otf") format("opentype");
  font-size: $ft-sm;
  line-height: 2.5rem;
}

@font-face {
  font-family: "button-text";
  src: url("../public/fonts/GraphikRegular.otf") format("opentype");
  font-size: $ft-md;
  line-height: 2rem;
}

@font-face {
  font-family: "h1";
  src: url("../public/fonts/GraphikBold.otf") format("opentype");
  font-size: $ft-xxxl;
  line-height: 8.4rem;
}

@font-face {
  font-family: "h2";
  src: url("../public/fonts/GraphikRegular.otf") format("opentype");
  font-size: $ft-xxl;
  line-height: 5.5rem;
}

@font-face {
  font-family: "feature-arg";
  src: url("../public/fonts/GraphikBold.otf") format("opentype");
  font-size: $ft-md;
  line-height: 2.8rem;
}

@font-face {
  font-family: "quote";
  src: url("../public/fonts/GraphikRegular.otf") format("opentype");
  font-size: $ft-lg;
  line-height: 2.8rem;
}
