$background-color: #0b1d26;
$ft-color: #ffffff;
$accent: #fbd784;
$linear-start: rgba(11, 29, 38, 0);
$linear-end: rgba(11, 29, 38, 1);
$font-transparent: #ffffff2e;

$fontFamily-primary: "Gilroy", sans-serif;
$fontFamily-secondary: "Chronicle Display", sans-serif;

$ft-xs: 1.7rem;
$ft-sm: 1.8rem;
$ft-md: 2.4rem;
$ft-lg: 3.2rem;
$ft-xl: 6.4rem;
$ft-xxl: 8.8rem;
$ft-xxxl: 10rem;

$ft-w-sm: 300;
$ft-w-medium: 500;
$ft-w-semiBold: 600;
$ft-w-bold: 700;
$ft-w-extraBold: 800;

$title-small-size: 3rem;
$title-medium-size: 3.5rem;
$title-big-size: 3.8rem;

$min-sm: 576px;
$min-md: 992px;
$min-lg: 1200px;
$min-xl: false;

$breakpoints: (
  sm: $min-sm,
  md: $min-md,
  lg: $min-lg,
  xl: $min-xl,
);
