@import "./variables";
@import "./mixins";
@import "./placeholders";

::-moz-selection,
::selection {
  color: black;
  background: white;
}

*:focus {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 62.5%;
  line-height: 1.15;
  font-family: "font-default";
}
