@import "./variables";
@import "./mixins";
@import "./placeholders";

::-moz-selection,
::selection {
  color: black;
  background: white;
}

*:focus {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

li {
  text-align: center;
}

a:visited,
a {
  text-decoration: none;
  color: white;
}

html {
  height: 100%;
  font-size: 62.5%;
  line-height: 1.15;
}

body {
  font-family: "font-default";
  background-image: url("/img/background-cover-mobile.png");
  background-repeat: no-repeat;
  background-size: 100%;
  max-width: 100vw;
  color: $second-text;
}

body > * {
  max-width: 90vw;
  padding: 0;
  margin: 0 auto;
}

// navbar mobile

.nav-bloc {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  height: 11.2rem;
}

.logo-bloc {
  flex-basis: 89%;
}

.menu-toggle {
  position: absolute;
  z-index: 10;
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0;
}

.btn-burger {
  background-color: transparent;
  border-style: none;
  padding: 0;
  cursor: pointer;
}

.link-bloc {
  width: 10rem;
  flex-basis: 100%;
  position: absolute;
  left: 0;
  height: 0;
  transition: height 0.3s ease;
  overflow: hidden;
}

.btn-burger:active ~ .link-bloc {
  height: 5rem;
  overflow: visible;
}

.btn-burger {
  background-color: transparent;
  border-style: none;
  padding: 0;
}

.link-bloc li {
  margin: 1rem 0;
}

nav .social-media-bloc {
  position: relative;
  right: 0;
}

nav .social-media-bloc li {
  display: none;
}

h1 {
  color: $white;
}

h1,
h2 {
  font-family: "title", sans-serif;
  font-weight: 400;
  font-size: $ft-xxl;
  line-height: 5.5rem;
}

.quote {
  font-size: 2.8rem;
  line-height: 4rem;
  width: 27rem;
  text-align: center;
  margin-bottom: 6rem;
}

h1,
.quote {
  text-align: center;
}

.btn-cta {
  border-radius: 3.5rem;
  background-color: $primary;
  color: $white;
  font-size: $ft-md;
  border-style: none;
}

.header-btn,
.arranging-btn {
  width: 23.6rem;
}

// header mobile

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 49rem;
  margin-bottom: 37rem;
}

h1 {
  margin: 5rem auto;
  width: 33rem;
}

header .quote {
  color: white;
}

.quote span {
  display: none;
}

.header-btn {
  height: 5.2rem;
}

// main mobile

main section,
.arranging-text-bloc,
.feature-ul,
.feature-ul div,
.newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-align: center;
  margin-bottom: 2.7rem;
}

.features {
  height: 149.6rem;
  justify-content: flex-start;
}

.feature-ul {
  order: 2;
  height: 92.4rem;
  width: 25.5rem;
  justify-content: space-around;
}

.feature-ul div {
  height: 25.7rem;
  justify-content: space-evenly;
}

.feature-arg,
dd {
  text-align: center;
}

.feature-arg {
  font-weight: $ft-w-extraBold;
  font-size: $ft-md;
  line-height: 2.8rem;
}

dd {
  font-size: $ft-sm;
  line-height: 2.5rem;
}

.video-bloc {
  order: 1;
  width: 100%;
  max-width: 385px;
  height: 100%;
  max-height: 239px;
  margin-bottom: 5rem;
}

.arranging-argument {
  height: 80rem;
  justify-content: space-evenly;
}

.arranging-btn {
  height: 6rem;
}

.newsletter {
  height: 110.4rem;
}

.newsletter .quote span {
  display: block;
}

.newsletter img {
  width: auto;
  max-width: 371px;
  height: auto;
  order: 3;
  margin-bottom: 5.9rem;
}

.newsletter-form {
  order: 4;
  height: 26.1rem;
  width: 100%;
}

.newsletter-form label {
  font-weight: $ft-w-bold;
  font-size: $ft-md;
  margin-bottom: 1rem;
}

.newsletter-form p {
  font-size: $ft-sm;
  margin-bottom: 3.4rem;
}

.newsletter-form input {
  border-radius: 3.9rem;
  border: 2px solid $form-secondary;
  background-color: $form-primary;
  margin-bottom: 1.2rem;
}

.newsletter-form input,
.newsletter-form button {
  width: 90%;
  height: 5.4rem;
}

.partners,
.testimonials {
  height: 106rem;
}

.pricing {
  height: 243rem;
}

.contact {
  height: 156.8rem;
}

.contact iframe {
  display: none;
}

.arranging-argument img {
  width: auto;
  max-width: 372px;
  height: auto;
}

footer {
  height: 143rem;
}
