@font-face {
  font-family: "font-default";
  src: url("/fonts/GraphikRegular.otf") format("opentype");
  font-size: 1.8rem;
}
@font-face {
  font-family: "link";
  src: url("/fonts/GraphikRegular.otf") format("opentype");
  font-size: 1.5rem;
  line-height: 2.8rem;
}
@font-face {
  font-family: "paragraphe";
  src: url("/fonts/GraphikRegular.otf") format("opentype");
  font-size: 1.8rem;
  line-height: 2.5rem;
}
@font-face {
  font-family: "button-text";
  src: url("../public/fonts/GraphikRegular.otf") format("opentype");
  font-size: 2rem;
  line-height: 2rem;
}
@font-face {
  font-family: "h1";
  src: url("../public/fonts/GraphikBold.otf") format("opentype");
  font-size: 7.4rem;
  line-height: 8.4rem;
}
@font-face {
  font-family: "h2";
  src: url("../public/fonts/GraphikRegular.otf") format("opentype");
  font-size: 4.8rem;
  line-height: 5.5rem;
}
@font-face {
  font-family: "feature-arg";
  src: url("../public/fonts/GraphikBold.otf") format("opentype");
  font-size: 2rem;
  line-height: 2.8rem;
}
@font-face {
  font-family: "quote";
  src: url("../public/fonts/GraphikRegular.otf") format("opentype");
  font-size: 2.8rem;
  line-height: 2.8rem;
}
@font-face {
  font-family: "font-default";
  src: url("/fonts/GraphikRegular.otf") format("opentype");
  font-size: 1.8rem;
}
@font-face {
  font-family: "link";
  src: url("/fonts/GraphikRegular.otf") format("opentype");
  font-size: 1.5rem;
  line-height: 2.8rem;
}
@font-face {
  font-family: "paragraphe";
  src: url("/fonts/GraphikRegular.otf") format("opentype");
  font-size: 1.8rem;
  line-height: 2.5rem;
}
@font-face {
  font-family: "button-text";
  src: url("../public/fonts/GraphikRegular.otf") format("opentype");
  font-size: 2rem;
  line-height: 2rem;
}
@font-face {
  font-family: "h1";
  src: url("../public/fonts/GraphikBold.otf") format("opentype");
  font-size: 7.4rem;
  line-height: 8.4rem;
}
@font-face {
  font-family: "h2";
  src: url("../public/fonts/GraphikRegular.otf") format("opentype");
  font-size: 4.8rem;
  line-height: 5.5rem;
}
@font-face {
  font-family: "feature-arg";
  src: url("../public/fonts/GraphikBold.otf") format("opentype");
  font-size: 2rem;
  line-height: 2.8rem;
}
@font-face {
  font-family: "quote";
  src: url("../public/fonts/GraphikRegular.otf") format("opentype");
  font-size: 2.8rem;
  line-height: 2.8rem;
}
::-moz-selection {
  color: black;
  background: white;
}
::-moz-selection,
::selection {
  color: black;
  background: white;
}

*:focus {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
  line-height: 1.15;
  font-family: "font-default";
}

body {
  background-image: url("/img/background-cover-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  margin: 0;
}

body > * {
  max-width: 90vw;
  padding: 0;
  margin: 0 auto;
}

.btn-burger {
  background-color: transparent;
  border-style: none;
}

.video-bloc {
  width: auto;
  max-width: 385px;
  height: auto;
  max-height: 239px;
}

iframe {
  display: none;
}

.arranging-argument img {
  width: auto;
  max-width: 37.2rem;
  height: auto;
}

.newsletter img {
  width: auto;
  max-width: 371px;
  height: auto;
}/*# sourceMappingURL=index.css.map */