@import "./variables";
@import "./mixins";
@import "./placeholders";

::-moz-selection,
::selection {
  color: black;
  background: white;
}

*:focus {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
body > * {
  margin: 0 auto;
  padding: 0;
}

html {
  height: 100%;
  font-size: 62.5%;
  line-height: 1.15;
  font-family: "font-default";
}

body {
  background-image: url("../public/img/background-cover-figmaland-mobile.png");
  background-repeat: no-repeat;
  background-size: 100vw;
  width: 100vw;
}

body > * {
  max-width: 100vw;
  margin: auto;
}

.btn-burger {
  background-color: transparent;
  border-style: none;
}

.video-bloc {
  width: auto;
  max-width: 385px;
  height: auto;
  max-height: 239px;
}

.arranging-argument img {
  width: auto;
  max-width: 37.2rem;
  height: auto;
}

.newsletter img {
  width: auto;
  max-width: 371px;
  height: auto;
}

@include from(sm) {
  body {
    background-image: url("../public/img/background-cover-figmaland-desktop.png");
    background-size: contain;
  }
}
